<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recording Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="nav">
        <ul>
            <li><a href="/">Record</a></li>
            <li><a href="/view">View</a></li>
          </ul>
    </div>
    <!--
    <h1>Recording Website</h1>
    <h2>Record a new recording here:</h2>
    <button id="start-recording-button">Start Recording</button>
    <button id="pause-recording-button" disabled>Pause Recording</button>
    <button id="resume-recording-button" disabled>Resume Recording</button>
    <button id="stop-recording-button" disabled>Stop Recording</button>
    <button id="download-recording-button" disabled>Upload Recording to S3</button>
    -->
    <h1>Register here:</h1>
    <div id="sign-in-form-div">
        <form action="/register" method="POST" id="my-form">
            <label for="name-input">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
    </div>
    <!--
    <h2>Upload recording here:</h2>
    <form method="post" action="/save-image" enctype="multipart/form-data">
        <input type="file" name="audio" />
        <button>Submit</button>

    <h2>Transcribed files</h2>
    <button id="display-files-button">Display Files</button>
    
   </form method="post" action="/save-image" enctype="multipart/form-data">
    --><img />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="script.js"></script>
</body>

</html>