<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recording Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
    <div id="nav">
        <ul>
            <li><a href="/">Record</a></li>
            <li><a href="/view">View</a></li>
          </ul>
    </div>
    <h1>View Transcribed Files:</h1>
    <button id="list-files">List all files</button>
    <ul id="list"></ul>

    <div id="file-content">
        <p id="paragraph">
            <i>Content of transcription file will appear here when clicked</i>
        </p>
    </div>
    <div>
        <audio controls> <source src="" type="audio/webm"> </audio>
    </div>

    <form action="/logout?_method=DELETE" method="POST">
        <h2 id="name-h2">Logged in as <%= name %></h2>
        <button type="submit">Log Out</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="script.js"></script>
</body>

</html>